/*-- scss:defaults --*/

//Font Import
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

//Font Families
$font-family-serif: 'Alice', serif;

// Colors
$red: #CC2229;
$bluegray: #6E7EA1;

// Base document colors

$footer-fg: $bluegray;
$link-color: $red; //hyperlinks

/*-- scss:rules --*/
h1 {
  letter-spacing: 5px;
  font-weight: 1000;
  font-size: 4rem;
  color: white;
}

#title-block-header{
  background-image: url(https://github.com/Social-Oceans-Lab/social-indicators-project/blob/main/images/lobsterpound0010.jpg?raw=true);
  background-size: cover;
  position: relative;
  margin-top: -1px;
  width: 100%;
  height: 75px;

}

.quarto-title-banner{
  margin-block-end: 1rem;
  position: relative;
  margin-top: -30px;
  height: 85%;
}

.nav-footer{
  background-image:url(https://github.com/Social-Oceans-Lab/social-indicators-project/blob/main/images/all_logos_2023.png?raw=true);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.title{
  color: $bluegray;
}

.nav-item {
  font-size: 1.5rem;
}

.navbar-logo {
  max-height: 60px;
}
